force-app/main/default/flows/DML_Reusable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>insertcont</name>
        <label>insert contact</label>
        <locationX>945</locationX>
        <locationY>360</locationY>
        <actionName>FlowUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <inputParameters>
            <name>ObjectType</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operatonType</name>
            <value>
                <stringValue>INSERT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobjs</name>
            <value>
                <elementReference>contactlist</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Response</assignToReference>
            <name>DMLResult</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>insertrec</name>
        <label>insert Account</label>
        <locationX>938</locationX>
        <locationY>68</locationY>
        <actionName>FlowUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <inputParameters>
            <name>ObjectType</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operatonType</name>
            <value>
                <stringValue>INSERT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobjs</name>
            <value>
                <elementReference>acclist</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Response</assignToReference>
            <name>DMLResult</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>addcontact</name>
        <label>addtolist</label>
        <locationX>828</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>contactlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contactrec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insertcont</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addtolist</name>
        <label>addtolist</label>
        <locationX>820</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>acclist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Accountrec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insertrec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignaccrec</name>
        <label>assignaccrec</label>
        <locationX>705</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>Accountrec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accname</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addtolist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigncontact</name>
        <label>assigncontact</label>
        <locationX>711</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>Contactrec.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactrec.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addcontact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>acc</name>
        <choiceText>Account&lt;p&gt;Contact&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Account</name>
        <choiceText>Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <decisions>
        <name>objtype</name>
        <label>Check Object Type</label>
        <locationX>435</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objecttype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignaccrec</targetReference>
            </connector>
            <label>isAccount</label>
        </rules>
        <rules>
            <name>iscontactsel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objecttype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigncontact</targetReference>
            </connector>
            <label>iscontact</label>
        </rules>
    </decisions>
    <interviewLabel>DML_Reusable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DML_Reusable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>accdetails</name>
        <label>Enter Record Details</label>
        <locationX>303</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>objtype</targetReference>
        </connector>
        <fields>
            <name>Accname</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>objecttype</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_LastName</name>
            <dataType>String</dataType>
            <fieldText>Contact LastName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>objecttype</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Contact</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_Email</name>
            <dataType>String</dataType>
            <fieldText>Contact Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>objecttype</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Contact</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>1046</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>respose</name>
            <fieldText>&lt;p&gt;{!Response}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc</name>
        <label>Select Object</label>
        <locationX>176</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>accdetails</targetReference>
        </connector>
        <fields>
            <name>objecttype</name>
            <choiceReferences>Account</choiceReferences>
            <choiceReferences>Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>sc</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>acclist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Accountrec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contactlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contactrec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>responselist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
