force-app/main/default/flows/Insert_Lead_Share.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createtasknew</name>
        <label>createtasknew</label>
        <locationX>637</locationX>
        <locationY>284</locationY>
        <actionName>FlowUtil</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ObjectType</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operatonType</name>
            <value>
                <stringValue>INSERT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobjs</name>
            <value>
                <elementReference>taskreclist</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>addtolist</name>
        <label>addtolist</label>
        <locationX>454</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>taskreclist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Taskrec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createtasknew</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createtask</name>
        <label>createtask</label>
        <locationX>350</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>Taskrec.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow up with Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Taskrec.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marketing_Rep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Taskrec.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addtolist</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>acc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkmarketinguser</name>
        <label>checkmarketinguser</label>
        <locationX>164</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>createshare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createtask</targetReference>
            </connector>
            <label>createshare</label>
        </rules>
    </decisions>
    <interviewLabel>Insert Lead Share {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insert Lead Share</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>checkmarketinguser</targetReference>
        </connector>
        <object>Lead</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accesslevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Read</stringValue>
        </value>
    </variables>
    <variables>
        <name>leadsharelist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LeadShare</objectType>
    </variables>
    <variables>
        <name>Taskrec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskreclist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
